@font-face {
  font-family: 'dos437_web';
  src: url(https://funhappythings.pixelsaredead.com/dos437/DOS437Unicode.ttf);
}

:root {
  --input-width: 640px;
  --bg-color: #000084;
  --alt-bg-color: #00aaaa;
  --alt-bg-color-hover: #00cccc;
  --default-text-color: #ffffff;
  --alt-text-color: #000;
  --alternative-text-color: #999999;
  --default-input-bg-color: #dddddd;
  --default-input-text-color: #222222;
  --button-bg-color: var(--default-input-bg-color);
  --button-text-color: var(--default-input-text-color);
  --button-disabled-bg-color: #3f3f3f;
  --button-disabled-text-color: #000000;
  --button-hover-bg-color: #bbbbbb;
  --select-bg-color: var(--default-input-bg-color);
  --select-text-color: var(--default-input-text-color);
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body {
  font-family: 'DOS437_web', monospace;
  background-color: var(--bg-color);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-content: center;
}

.canvasDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px;
}

.canvas {
  border: 4px double white;
  background-color: #000;
}

h1 {
  color: var(--default-text-color);
  font-size: 24px;
}
h2 {
  color: var(--default-text-color);
  font-size: 18px;
}
h3 {
  color: var(--default-text-color);
  font-size: 16px;
  margin: 5px 0px;
}
pre {
  color: var(--default-text-color);
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--default-text-color);
  padding: 2px;
  margin: 0px 5px;
  width: 100%;
}
.hidden {
  display: none !important;
}

input[type='text'] {
  margin: 5px;
  width: 200px;
  padding: 5px;
  border: 1px solid var(--bg-color);
  background-color: var(--default-text-color);
  color: black;
  font-family: 'dos437_web', monospace;
  font-size: 10px;
}

input[type='number'] {
  margin: 5px;
  width: 200px;
  padding: 5px;
  border: 2px dashed var(--default-text-color);
  background-color: var(--bg-color);
  color: var(--default-text-color);
  font-family: 'dos437_web', monospace;
  font-size: 10px;
}

input:invalid {
  /* border: 2px inset red; */
}

input[type='range'] {
  width: 200px;
  background-color: var(--alt-bg-color);
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  background-color: var(--default-text-color);
  color: black;
}

input[type='range']::-moz-range-track {
  width: 100%;
  cursor: pointer;
  background-color: var(--default-text-color);
  color: black;
}

select {
  margin: 5px;
  height: 30px;
  width: 200px;
  font-family: 'dos437_web', monospace;
  background-color: var(--select-bg-color);
  color: var(--select-text-color);
  font-size: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; /* remove default arrow */
  background-image: url('./assets/baseline-arrow_drop_down-24px.svg');
  background-position: right;
  background-repeat: no-repeat;
  border: 0px;
  box-shadow: 10px 8px 0px black;
}

#colour {
  width: 35px;
  height: 25px;
  padding: 2px 0px;
}

label {
  font-size: 10px;
  margin: 10px 0px 0px 0px;
  font-family: 'dos437_web', monospace;
  color: var(--alt-text-color);
}

.menuRow {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  width: 640px;
  border: 4px double var(--default-text-color);
  padding: 10px 0px;
  margin: 5px;
  background-color: var(--alt-bg-color);
}

.menuRowTitleContainer {
  width: 640px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
}

.menuRowTitle {
  position: relative;
  font-size: 10px;
  color: var(--default-text-color);
  margin: 15px 5px 0px 5px;
}

.menuCol {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px 20px;
  width: 240px;
}

.btn {
  margin: 10px 5px;
  padding: 10px 5px;
  width: 200px;
  height: 40px;
  background-color: var(--button-bg-color);
  box-shadow: 10px 8px 0px black;
  color: var(--button-text-color);
  font-size: 10px;
  border: 0px;
  font-family: 'dos437_web', monospace;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--button-hover-bg-color);
}
.btn:disabled {
  color: var(--button-disabled-text-color);
  background-color: var(--button-disabled-bg-color);
  cursor: not-allowed;
}

.gameOver {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  transition: visibility 0s linear 0.7s, opacity 0.7s ease-in-out;
  color: var(--default-text-color);
}

.inputRange {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  width: 80%;
}

.inputRangeText {
  font-size: 8px;
  color: var(--alt-text-color);
}

.levelsSelectWrapper {
  display: flex;
  flex-direction: row;
  margin: 20px 10px;
}

.levelWrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 5px;
  border: 4px double var(--default-text-color);
  background-color: var(--alt-bg-color);
  width: 360px;
  font-size: 10px;
  padding: 10px 20px;
  z-index: 999999;
}

.selected {
  background-color: var(--alt-bg-color-hover);
}

.levelWrapper:hover {
  background-color: var(--alt-bg-color-hover);
}
